@font-face {
  font-family: "Glacial Indifference";
  src:
    url("fonts/glacial-indifference.woff2") format("woff2"),
    url("fonts/glacial-indifference.woff") format("woff"),
    url("fonts/glacial-indifference.otf") format("opentype");
}

@font-face {
  font-family: Walkway;
  src:
    url("fonts/walkway.woff2") format("woff2"),
    url("fonts/walkway.woff") format("woff"),
    url("fonts/walkway.otf") format("opentype");
}

@font-face {
  font-family: "Louis George Cafe";
  src:
    url("fonts/louis-george-cafe.woff2") format("woff2"),
    url("fonts/louis-george-cafe.woff") format("woff"),
    url("fonts/louis-george-cafe.ttf") format("truetype");
}

@font-face {
  font-family: Pretendo;
  src:
    url("fonts/pretendo.woff2") format("woff2"),
    url("fonts/pretendo.woff") format("woff"),
    url("fonts/pretendo.ttf") format("truetype");
}

body {
  background: #223;
}

.container {
  width: 700px;
  margin: 8rem auto;
  min-height: 500px;
}
